
  <%= simple_form_for @book do |f| %>
    <%# TITLE %>
    <div class="container">
    <div class="form-group row">
      <%= f.label :titre, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10 width-150p">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <%# DESCRIPTION %>
    <div class="form-group row">
      <%= f.label :description, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

    <%# AUTHOR %>
    <div class="form-group row">
      <%= f.label :auteur, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :author, class:"form-control" %>
      </div>
    </div>


  <%# Prix %>
     <div class="form-group row">
      <%= f.label :Prix, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.number_field :isbn, class:"form-control" %>
      </div>
    </div>
  

     <%= f.input :photo, as: :file %>

    <%= f.submit "Ajoutez votre livre" , class:"btn btn-success" %>
  <% end %>
  </div>

