<div class="index-card">
  <% books.each do |book| %>
    <div class="card-trip">
      <% if book.photo.attached? %>
      <%= cl_image_tag book.photo.key, crop: :fill %>
      <% else %>
      <img src="<%= book.poster_url %>" />
      <% end %>
      <div class="card-trip-infos">
        <div class="infos">
          <h2><%= book.title %></h2>
          <p><%= book.author %></p>
        </div>
        <%= link_to "Info", book_path(book), class: "btn btn-secondary" %>
        <h2 class="card-trip-pricing"> <%= book.price %></h2>
      </div>
    </div>
  <% end %>
</div>
