<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Our Books", books_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://media.istockphoto.com/vectors/neutral-profile-picture-vector-id1091291084?k=6&m=1091291084&s=170667a&w=0&h=2Dx_R7emqSPjyLcvTRaPqXzbf4RP37hJf9DjUPD65lk=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Dashboard", "#", class: "dropdown-item" %>
          <%= link_to "Sign up", new_user_registration_path(), class: "dropdown-item" %>
          <%= link_to "Log In", new_user_session_path(), class: "dropdown-item" %>
          <%# <%= link_to "Log out", destroy_user_session_path(), class: "dropdown-item" %> %>
        </div>
      </li>
    </ul>
  </div>
</div>