  <h1 style="font-family: 'Times New Roman',sans-serif; font-size: 40px; font-weight: 200; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">MORE INFORMATION</h1>
     

  <div class="wrapper">
    <div class="product-img">
       <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, crop: :fill, height: "420", width: "327" %>
      <% else %>
        <img src="<%= @book.poster_url %>" height="420" width="327"/>
      <% end %>
    </div>
    <div class="product-info">
      <div class="product-text">
      <div class="container">
        <h1><%= @book.title %></h1> 
        <h2>Author : <%= @book.author %></h2>
        <p><%= @book.description %> </p>
        
        <div class="access">
        <%= link_to "Book", new_book_transaction_path(@book), class: "btn btn-success" %>
        <div>
        
        </div>
        
      </div>
      </div>
    </div>
 </div>
