<div class="container">
  <div class="display">
  <div class="wrapper">
    <div class="product-img">
      <img src="<%= @book.poster_url %>" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%= @book.title %></h1> 
        <h2>Author : <%= @book.author %></h2>
    </div>
 </div>
      </div>
          <div class="transaction-form">
            <%= simple_form_for [@book, @transaction] do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.submit "Add", class: "btn btn-primary" %>
            <% end %>
          </div>
      </div>
</div>
