<!DOCTYPE html>
<html>
  <head>
    <title>Book A Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex p-2">
     
    <a class="navbar-brand" href="javascript:window.location.href=window.location.href">
      <svg width=10% height=10% viewBox="0 0 50 50">
       <g
          id="g4767"
          transform="matrix(0.36139135,0,0,0.36139135,-13.450403,-25.562498)">
          <path
            fill="#218099"
            d="m 48.343389,187.10803 c 0.773821,-1.8085 16.075957,-37.0831 16.805934,-38.91023 0.731074,-1.82714 -0.731074,-2.64919 -1.370078,-0.91302 -0.639005,1.73506 -18.724045,41.37637 -19.729134,43.65947 -1.003994,2.2842 -1.003994,3.83622 2.9232,3.83622 3.927193,0 54.164149,0 54.164149,0 v 3.19722 h 12.78776 v -3.47123 c 0,0 52.97602,0 54.89413,0 1.91811,0 3.65317,-0.36499 2.00908,-3.83622 -1.64409,-3.47123 -18.63307,-41.01139 -19.45512,-43.02047 -0.82205,-2.00909 -2.37407,-1.18704 -1.73507,0.36608 0.63901,1.55312 16.44095,37.63113 17.07995,39.3673 0.63901,1.73506 1.46106,4.47522 -5.93737,4.47522 -9.95554,0 -27.40157,-6.94137 -34.98304,-6.94137 -7.58147,0 -14.7015,4.47523 -18.31083,9.22447 -3.60934,-3.37916 -8.176631,-9.22556 -17.950225,-9.22556 -9.773594,0 -22.195276,6.85039 -34.890973,6.85039 -4.749241,0 -8.108674,-0.43514 -6.302363,-4.65827 z"
            id="path1836"
            style="stroke-width:1.09606" />
          <path
            fill="#218099"
            d="m 161.14691,182.35879 c -1.46106,-3.92719 -15.80195,-41.55942 -15.80195,-41.55942 0,0 -1.37007,0.45706 -4.2012,0.45706 -9.22557,0 -19.63817,-6.11932 -23.7484,-6.11932 -4.29328,0 -9.90841,4.74924 -9.90841,4.74924 0,0 -6.53254,-4.74924 -9.637683,-4.74924 -5.754331,0 -13.243729,6.02835 -24.478375,6.02835 -2.466142,0 -3.927194,-0.36499 -3.927194,-0.36499 0,0 -15.253908,40.37129 -16.349971,43.11144 -1.096063,2.74016 -1.09716,4.5673 3.014173,4.5673 9.864567,0 27.675591,-8.95155 33.246879,-8.95155 10.229556,0 18.132171,11.50866 18.132171,11.50866 0,0 8.72137,-11.41769 18.03791,-11.41769 9.31653,0 21.92126,9.04252 33.52089,9.04252 3.56221,0 3.56221,-2.37516 2.10116,-6.30236 z m -56.17323,-0.82205 c 0,0 -4.93229,-6.02834 -14.613811,-6.02834 -10.04761,0 -25.026407,8.7685 -29.228712,8.7685 -2.375169,0 -3.745248,-0.54803 -2.740158,-3.92719 1.00509,-3.37916 13.061783,-35.62205 13.061783,-35.62205 0,0 1.73726,0.18304 4.201209,0.18304 11.234646,0 15.344882,-5.2063 21.92126,-5.2063 4.475229,0 6.850399,2.55712 7.398429,4.38426 z m 49.03786,2.74016 c -4.20121,0 -19.18111,-8.7685 -29.22872,-8.7685 -9.68152,0 -14.6138,6.02834 -14.6138,6.02834 v -37.44918 c 0.54803,-1.82714 2.9232,-4.38425 7.39842,-4.38425 6.57638,0 10.68661,5.2063 21.92126,5.2063 2.46395,0 4.20121,-0.18304 4.20121,-0.18304 0,0 12.05669,32.24288 13.06178,35.62204 1.00509,3.38026 -0.36499,3.92829 -2.74015,3.92829 z"
            id="path1838"
            style="stroke-width:1.09606" />
          <path
            style="fill:#20335d;fill-opacity:1;stroke-width:0.28281"
            d="m 70.881599,167.53007 c -0.116663,-0.12051 -0.21211,-0.6407 -0.21211,-1.15608 0,-0.74977 0.342641,-1.31515 1.714293,-2.82872 2.949116,-3.25422 3.189907,-4.23139 2.115149,-8.5836 -0.403314,-1.63323 -0.860477,-4.3694 -1.015915,-6.0804 -0.63928,-7.03699 -1.313407,-10.03977 -2.253945,-10.03977 -0.724448,0 -0.811786,-0.2082 -1.267048,-3.02053 -0.406488,-2.51111 -1.0492,-3.82494 -1.958535,-4.00361 -0.302036,-0.0593 -0.543221,0.12735 -0.639345,0.4949 -0.08488,0.32464 -0.253146,0.59023 -0.373908,0.59023 -0.444871,0 -0.643695,-1.06971 -0.818577,-4.40408 l -0.179081,-3.41426 -2.702834,-4.22163 c -2.471623,-3.86048 -3.649848,-5.13868 -3.649848,-3.95954 0,0.82444 -0.470984,0.45365 -1.256116,-0.98887 -0.936762,-1.72114 -1.474103,-2.00107 -2.176396,-1.13378 l -0.516316,0.63762 -0.329421,-0.723 c -0.390699,-0.8575 -0.812332,-0.71089 -0.812332,0.28248 0,1.30988 -0.508289,0.40657 -1.160546,-2.06247 -0.706055,-2.67272 -1.712574,-4.25043 -2.223747,-3.48572 -0.155963,0.23333 -0.285523,0.77312 -0.287905,1.19955 -0.0021,0.46563 -0.230273,0.91644 -0.569952,1.12857 -0.447897,0.27972 -0.565615,0.65953 -0.565615,1.8249 0,1.17036 -0.144932,1.63409 -0.707894,2.26515 l -0.707881,0.79349 -0.561069,-0.66308 c -0.719374,-0.85021 -1.179113,-2.50115 -1.390422,-4.99312 l -0.167859,-1.97966 -1.696859,-0.003 c -1.342845,-9e-4 -1.976044,-0.16551 -3.035013,-0.78661 -1.632705,-0.95767 -1.914166,-1.44599 -1.914166,-3.32091 0,-1.81265 0.539949,-2.76301 2.14774,-3.78017 1.776973,-1.124203 3.188525,-2.846416 5.389751,-6.57595 2.024668,-3.430381 3.360768,-4.907166 4.439704,-4.907166 0.467104,0 0.826797,-0.331633 1.303616,-1.201944 1.189705,-2.171486 1.939489,-2.954348 4.349959,-4.541856 2.433667,-1.602793 3.0435,-2.250688 4.119518,-4.376651 0.765935,-1.513314 1.266986,-1.297958 1.095729,0.470951 -0.08498,0.878127 -0.515269,1.945808 -1.311986,3.255814 -0.652023,1.072069 -1.130456,2.004246 -1.063192,2.071508 0.06724,0.06726 1.120303,-0.203542 2.340076,-0.601791 1.219772,-0.398247 2.749363,-0.855588 3.399077,-1.016311 0.737285,-0.182389 1.459171,-0.622465 1.920589,-1.170827 0.918292,-1.091337 1.192837,-0.873376 0.752231,0.597219 -0.426115,1.422259 -1.331741,2.104914 -5.196883,3.917381 -3.310423,1.552345 -3.811978,2.119091 -3.473258,3.924656 0.310105,1.652984 1.043739,1.943886 4.790716,1.899575 l 3.311972,-0.03917 1.010837,-0.957953 1.010826,-0.957961 -0.18573,0.985205 c -0.281406,1.492817 -1.428024,3.007543 -3.276602,4.328572 -0.916541,0.654971 -1.742246,1.369732 -1.834908,1.588343 -0.361498,0.85281 2.289325,3.764126 6.090687,6.689226 3.09424,2.38095 4.456977,2.69605 9.028559,2.08771 1.166585,-0.15526 5.111786,-0.39657 8.767106,-0.53628 7.29079,-0.27867 9.77498,-0.64463 19.93814,-2.93722 6.83259,-1.54129 10.10261,-1.97014 14.01043,-1.83739 2.72662,0.0925 3.14633,0.18638 5.36204,1.19792 4.95762,2.26333 6.65983,2.73808 9.50926,2.6522 2.40668,-0.0726 2.74176,-0.15964 4.97667,-1.29343 1.69847,-0.86168 2.98449,-1.79351 4.41635,-3.20004 1.11104,-1.091398 2.1486,-1.904941 2.30568,-1.807861 0.70366,0.434896 -0.15936,4.092501 -1.49393,6.331341 -1.08439,1.81918 -4.20078,4.55179 -6.56335,5.75508 -1.31623,0.67039 -5.86589,2.48004 -6.2351,2.48004 -0.0372,0 -0.14721,0.20741 -0.24449,0.46092 -0.10912,0.28438 0.472,1.61537 1.51734,3.47517 2.32424,4.13516 3.53575,7.97274 4.27265,13.53407 0.32413,2.44619 0.73914,4.76578 0.92227,5.15465 0.18312,0.38886 1.12789,1.21608 2.09948,1.83826 1.9145,1.22599 1.96,1.31206 2.61613,4.94918 0.19549,1.08371 1.01173,3.29456 1.98857,5.38616 2.19,4.6893 4.8466,11.80729 4.74185,12.7051 -0.0702,0.60186 -0.24908,0.72939 -1.12506,0.80225 -0.916,0.0762 -1.06483,0.19553 -1.23461,0.98985 -0.10624,0.49674 -0.32118,1.06226 -0.47781,1.25671 -0.34287,0.42558 -4.90173,0.4962 -5.15901,0.0798 -0.093,-0.15048 0.27136,-0.91394 0.80972,-1.69658 2.05001,-2.98019 2.05727,-5.07132 0.032,-9.24244 -1.45716,-3.00116 -3.00842,-5.13435 -7.44847,-10.24254 -3.48901,-4.01402 -5.05835,-5.12897 -7.21931,-5.12897 -0.95541,0 -1.29909,0.18256 -2.28918,1.21585 -0.64074,0.66872 -1.39295,1.69625 -1.67157,2.28341 -0.43866,0.9244 -0.4618,1.25419 -0.17258,2.45975 0.42807,1.78446 0.24833,2.29179 -2.17427,6.13641 -3.20914,5.09288 -4.65177,9.33282 -4.10237,12.05714 0.38762,1.92203 0.032,2.34874 -1.44344,1.73225 -1.4555,-0.60812 -1.55857,-0.56959 -1.90361,0.71176 -0.40317,1.49724 -1.20199,1.82375 -3.67131,1.50057 -1.28481,-0.16816 -1.86065,-0.36942 -1.91717,-0.6701 -0.0444,-0.23635 0.76933,-1.76353 1.80833,-3.39371 5.35841,-8.40732 6.70067,-11.03796 6.70723,-13.14513 0.009,-2.61677 -2.70171,-7.82021 -6.03863,-11.59522 -3.05539,-3.45649 -4.18019,-3.71594 -7.93191,-1.8296 -4.2454,2.13453 -5.67432,2.24975 -18.78966,1.51511 -2.91173,-0.16309 -3.1449,-0.13653 -3.64158,0.41471 -0.76221,0.84592 -0.6711,4.04363 0.216,7.58149 0.38371,1.53023 0.78636,3.41859 0.89479,4.19633 0.32886,2.359 1.50805,5.73794 3.41017,9.77182 0.99403,2.10804 1.80731,3.98517 1.80731,4.17144 0,0.18626 -0.37399,0.33865 -0.8311,0.33865 -0.77734,0 -0.84291,0.0867 -1.01361,1.34333 -0.33605,2.47352 -0.14765,2.3332 -3.1324,2.3332 -3.213472,0 -3.409551,-0.21103 -2.09688,-2.25667 1.09524,-1.70677 1.32012,-3.11536 0.86594,-5.42389 -0.57012,-2.89791 -3.137382,-10.084 -4.203994,-11.76758 -0.336079,-0.53049 -0.479951,-0.58013 -0.832727,-0.28735 -0.848731,0.70438 -0.10111,10.92881 1.089817,14.90367 0.403879,1.34805 0.128747,1.84545 -1.163796,2.10397 -0.781229,0.15623 -0.84208,0.2584 -0.84208,1.41349 0,0.78063 -0.163851,1.38108 -0.439217,1.6096 -0.492962,0.40913 -6.072731,0.75257 -6.418933,0.39512 z"
            id="path2193" />
        </g>
      </svg>
        Book A Book
    </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fa fa-book" href="/books" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Livres
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Roman</a>
              <a class="dropdown-item fa fa-comment-o" href="#">Comics</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link fa fa-info-circle" href="#">Qui sommes-nous ?</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">S'inscrire</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item fa fa-user" href="/users/sign_in">Se connecter</a>
              <a class="dropdown-item" href="#">Mes commandes</a>
              <a class="dropdown-item" href="#"><i class="fa fa-book" aria-hidden="true">Mes livres</i>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item fa fa-sign-out" aria-hidden="true" href="#">Deconnection</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
 
    <%= link_to "sign_out", destroy_user_session_path, method: :delete %>
    <%= yield %>


     <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"> <%= link_to "Home", root_path %> </a></li>
                <li class="list-inline-item"><a href="#">A propos</a></li> 
                <li class="list-inline-item"><a href="#">Contact</a></li>
                <li class="list-inline-item"><a href="#">Policy</a></li>
            </ul>
            <p class="copyright">BookAbook © 2021</p>
        </footer>

    </div>
  </body>
</html>
